<div class="w-full">
    <div class="">
        <h2>All Posts</h2>
        <button type="button" class="">
            <%= link_to "New Post", new_user_post_path %>
        </button>
    </div>
    <div class="mb-5">
        <%= render partial: "partials/userCard", locals: { user: @user } %>
    </div>
    <div>

        <ul>
            <% @user_posts.each_with_index do |post,index| %>
                <li class="my-5">
                    <%= render partial: "partials/postCard", locals:{ post: post, index:index } %>
                    <%= render partial: "partials/commentCard", locals:{ comments: post.comments } %>
                </li>
            <% end %>
        </ul>
    </div>
    <div class="flex justify-center">
        <button class=" border-2 px-4 ">
            Pagination
        </button>
    </div>
</div>